<a href="https://colab.research.google.com/github/Daniellineto/Atividades_Softex_IA-IOT/blob/main/Atividade_2_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Atividade 2 IA - Pre-processamento e Treinamento de Modelos**
Aluno: Daniel Lima Neto

In [ ]:
# Importando bibliotecas
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, r2_score, ConfusionMatrixDisplay
from sklearn import preprocessing, metrics
from sklearn.compose import make_column_transformer

# **Dados Titanic**

In [ ]:
#Carregando os dados
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic = pd.read_csv(url)

In [ ]:
df_titanic = pd.DataFrame(titanic)
df_titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
# Tranformando os valores de class para numerico
label_encoder = preprocessing.LabelEncoder()
df_titanic['class'] = label_encoder.fit_transform(df_titanic['class'])
df_titanic['class'] = df_titanic['class'] + 1

In [ ]:
# Comparando as colunas class e pclass
r2 = r2_score(df_titanic['class'],df_titanic['pclass'])
print("Relação das colunas class e pclass:", r2)
print('\nOu seja as colunas possuem o mesmo valores, porem pclass é numerico e o class é categorico')

Relação das colunas class e pclass: 1.0

Ou seja as colunas possuem o mesmo valores, porem pclass é numerico e o class é categorico

In [ ]:
# Tranformando os valores de alive para numerico
label_encoder = preprocessing.LabelEncoder()
df_titanic['alive'] = label_encoder.fit_transform(df_titanic['alive'])

In [ ]:
# Comparando as colunas survived e alive
r2 = r2_score(df_titanic['survived'],df_titanic['alive'])
print("Relação das colunas survived e alive:", r2)
print('\nOu seja as colunas possuem o mesmo valores, porem survived é numerico e o alive é categorico')

Relação das colunas survived e alive: 1.0

Ou seja as colunas possuem o mesmo valores, porem survived é numerico e o alive é categorico

In [ ]:
# Observando quantas valores NaN existem na coluna deck
print("Quantidade de valores NaN em 'deck':", titanic['deck'].isnull().sum())

# Removendo coluna por possuir muitos valores NaN e as colunas alive e class
df_titanic = df_titanic.drop(columns=['deck', 'alive','class'])

Quantidade de valores NaN em 'deck': 688

In [ ]:
# Removendo linhas que tem os atributos NaN
df_titanic = df_titanic.dropna()
df_titanic.count()

survived       712
pclass         712
sex            712
age            712
sibsp          712
parch          712
fare           712
embarked       712
who            712
adult_male     712
embark_town    712
alone          712
dtype: int64

In [ ]:
# Verificando as colunas que tem colunasy
categorical_cols = df_titanic.select_dtypes(include=['object', 'category']).columns
print("\nColunas categóricas:", list(categorical_cols))

Colunas categóricas: ['sex', 'embarked', 'who', 'embark_town']

In [ ]:
# Aplicando One-Hot Encoding no DataFrame
hot_titanic = pd.get_dummies(df_titanic, columns=categorical_cols, drop_first=True)
hot_titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   survived                 712 non-null    int64
 1   pclass                   712 non-null    int64
 2   age                      712 non-null    float64
 3   sibsp                    712 non-null    int64
 4   parch                    712 non-null    int64
 5   fare                     712 non-null    float64
 6   adult_male               712 non-null    bool
 7   alone                    712 non-null    bool
 8   sex_male                 712 non-null    bool
 9   embarked_Q               712 non-null    bool
 10  embarked_S               712 non-null    bool
 11  who_man                  712 non-null    bool
 12  who_woman                712 non-null    bool
 13  embark_town_Queenstown   712 non-null    bool
 14  embark_town_Southampton  712 non-null    bool
dtypes: bool(9), float64(2), int64(4)
memory usage: 45.2 KB

In [ ]:
# Separando o X e y
x = hot_titanic.drop(columns='survived', axis = 1)
y = hot_titanic['survived']

In [ ]:
# Divisão 80% treino e 20% teste
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=None, stratify=y)

Primeira árvore: Padrão

In [ ]:
# Cria classificador e treina o modelo
model = DecisionTreeClassifier(random_state=42)
model = model.fit(X_train, y_train)

In [ ]:
# Utiliza do modelo para fazer a previsão dos dados X_test
result = model.predict(X_test)

# Estimativa da precisão dos acertos
acc = accuracy_score(result, y_test)
show = round(acc * 100)
print("{}%".format(show))

78%

Segunda árvore: (critério = "entropy", profundidade máxima = 15)

In [ ]:
# Cria classificador e treina o modelo
model2 = DecisionTreeClassifier(criterion="entropy", random_state=42, max_depth=15)
model2 = model2.fit(X_train, y_train)

In [ ]:
# Utiliza do modelo para fazer a previsão dos dados X_test
result2 = model2.predict(X_test)

# Estimativa da precisão dos acertos
acc = accuracy_score(result2, y_test)
show = round(acc * 100)
print("{}%".format(show))

79%

In [ ]:
# Normalização dos dados para kNN
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

[Primeiro kNN:](https://) k=3, distância euclidiana (padrão)

In [ ]:
knn1 = KNeighborsClassifier(n_neighbors=3)
knn1.fit(X_train_scaled, y_train)
y_pred1 = knn1.predict(X_test_scaled)

# Estimativa da precisão dos acertos
acc = accuracy_score(y_pred1, y_test)
show = round(acc * 100)
print("{}%".format(show))

81%

Segundo kNN:: k=5, distância Manhattan (p=1)

In [ ]:
knn2 = KNeighborsClassifier(n_neighbors=5, p=1)
knn2.fit(X_train_scaled, y_train)
y_pred2 = knn2.predict(X_test_scaled)

# Estimativa da precisão dos acertos
acc = accuracy_score(y_pred2, y_test)
show = round(acc * 100)
print("{}%".format(show))

85%

# **Dados Transfusion**

In [ ]:
# Carregando os dados
url = "https://raw.githubusercontent.com/tmoura/machinelearning/master/transfusion.data"
transfusion = pd.read_csv(url)

In [ ]:
df_transfusion = pd.DataFrame(transfusion)
df_transfusion

     1   2  50  12500  98
0    1   0  13   3250  28
1    1   1  16   4000  35
2    1   2  20   5000  45
3    2   1  24   6000  77
4    2   4   4   1000   4
..  ..  ..  ..    ...  ..
742  2  23   2    500  38
743  2  21   2    500  52
744  2  23   3    750  62
745  2  39   1    250  39
746  2  72   1    250  72

[747 rows x 5 columns]

In [ ]:
# Separando o X e y
X = hot_titanic.iloc[:, 1:]
y = hot_titanic.iloc[:, 0]

In [ ]:
# Divisão 80% treino e 20% teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [ ]:
# Normalização dos dados para kNN
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Primeira árvore: Padrão

In [ ]:
# Cria classificador e treina o modelo
model3 = DecisionTreeClassifier(random_state=42)
model3 = model3.fit(X_train, y_train)

In [ ]:
# Utiliza do modelo para fazer a previsão dos dados X_test
result = model3.predict(X_test)

# Estimativa da precisão dos acertos
acc = accuracy_score(result, y_test)
show = round(acc * 100)
print("{}%".format(show))

71%

Segunda árvore: (critério = "entropy", profundidade máxima = 5)

In [ ]:
# Cria classificador e treina o modelo
model4 = DecisionTreeClassifier( criterion = "entropy", max_depth=5, random_state=42)
model4 = model4.fit(X_train, y_train)

In [ ]:
# Utiliza do modelo para fazer a previsão dos dados X_test
result = model4.predict(X_test)

# Estimativa da precisão dos acertos
acc = accuracy_score(result, y_test)
show = round(acc * 100)
print("{}%".format(show))

77%

Primeiro kNN: k=5, distância euclidiana (padrão)

In [ ]:
knn3 = KNeighborsClassifier(n_neighbors=5, p=1)
knn3.fit(X_train_scaled, y_train)
y_pred3 = knn3.predict(X_test_scaled)

In [ ]:
# Estimativa da precisão dos acertos
acc = accuracy_score(y_pred3, y_test)
show = round(acc * 100)
print("{}%".format(show))

78%

Segundo kNN: k=7, distância de Manhattan

In [ ]:
knn4 = KNeighborsClassifier(n_neighbors=7, metric='manhattan')
knn4.fit(X_train_scaled, y_train)
y_pred4 = knn4.predict(X_test_scaled)

In [ ]:
# Estimativa da precisão dos acertos
acc = accuracy_score(y_pred4, y_test)
show = round(acc * 100)
print("{}%".format(show))

78%